<!DOCTYPE html>
<html>
<header>
    <title>170609/iu1</title>
    <script src="../vendors/vue-2.3.4/vue.min.js"></script>
    <script src="../vendors/vue-router-2.5.3/vue-router.min.js"></script>
    <script src="../vendors/pouchdb-6.2.0/pouchdb.min.js"></script>
</header>

<body>
    <div>
        <h2>CRUD : PouchDB : Vue.js2</h2>
        <main id="app">
            <router-view></router-view>
        </main>
    </div>
    <template id="product-list">
        <div>
            <div>
                <label for="search-element">Search:</label>
                <input v-model="searchKey" id="search-element" requred placeholder="Product Name" />
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Rev</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in filteredProducts">
                        <td>
                            <router-link :to="{name: 'product-view', params: {product_id: product._id}}">{{ product.name }}</router-link>
                        </td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product._rev }}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <router-link :to="{path: '/add'}">Add product</router-link>
            </div>
        </div>
    </template>

    <template id="product-view">
        <div>
            <h3>{{ product.name }}</h3>
            <div>Description: <b>{{ product.description }}</b></div>
            <div>Price: <b>{{ product.price }}</b></div>
            <div>Rev: <b>{{ product._rev }}</b></div>
            <div>
                <router-link to="/">Back to list</router-link>
                <router-link :to="{name: 'product-edit', params: {product_id: product._id}}">Edit</router-link>
                <router-link :to="{name: 'product-delete', params: {product_id: product._id}}">Delete</router-link>
            </div>
        </div>
    </template>

    <template id="product-add">
        <div>
            <h2>Add new product</h2>
            <form v-on:submit="createProduct">
                <div>
                    <label for="add-name">Name</label>
                    <input id="add-name" v-model="product.name" required/>
                </div>
                <div>
                    <label for="add-description">Description</label>
                    <textarea id="add-description" rows="5" v-model="product.description"></textarea>
                </div>
                <div>
                    <label for="add-price">Price</label>
                    <input type="number" id="add-price" v-model="product.price" />
                </div>
                <button type="submit">Save</button>
                <router-link to="/">Cancel</router-link>
            </form>
        </div>
    </template>

    <template id="product-edit">
        <div>
            <h2>Edit product</h2>
            <form v-on:submit="updateProduct">
                <div>
                    <label for="edit-name">Name</label>
                    <input id="edit-name" v-model="product.name" required/>
                </div>
                <div>
                    <label for="edit-description">Description</label>
                    <textarea id="edit-description" rows="5" v-model="product.description"></textarea>
                </div>
                <div>
                    <label for="edit-price">Price</label>
                    <input type="number" id="edit-price" v-model="product.price" />
                </div>
                <div>
                    <label for="edit-rev">Rev</label>
                    <input type="number" id="edit-rev" v-model="product._rev" />
                </div>
                <button type="submit">Save</button>
                <router-link :to="{name: 'product-view', params: {product_id: product._id}}">Cancel</router-link>
            </form>
        </div>
    </template>

    <template id="product-delete">
        <div>
            <h2>Delete product {{ product.name }}</h2>
            <div>Rev: <b>{{ product._rev }}</b></div>
            <form v-on:submit="deleteProduct">
                <p>The action cannot be undone.</p>
                <button type="submit">Delete</button>
                <router-link :to="{name: 'product-view', params: {product_id: product._id}}">Cancel</router-link>
            </form>
        </div>
    </template>
</body>

<script>

    var db = new PouchDB('local-products');
    var remoteCouch = false;
/*
    db.changes({
        since: 'now',
        live: true
    }).on('change', getPouchDB);
*/
    getPouchDB();

    function getPouchDB() {
        db.allDocs({
            include_docs: true,
            descending: false
        }, function (err, doc) {
            products = showItems(doc.rows)

            function showItems(items) {
                console.log('Start...');
                var result = [];
                items.forEach(function (item) {
                    result.push(item.doc);
                });

                console.log('...Stop');
                products = result;

                //console.log(JSON.stringify(result));
                return result;
            }
            console.log(JSON.stringify(products));

            // var products = [{id: guid(), name: '', description: '', price: 99}];
            function getLocalStorage() {
                var myArray = new Array;
                var myObject = localStorage.getItem('local-products');
                if (myObject !== null) {
                    myArray = JSON.parse(myObject);
                }
                return myArray;
            }
            //var products = getLocalStorage();

            function saveProducts(myproducts) {
                localStorage.setItem('local-products', JSON.stringify(products));
                db.put(myproducts).then(function (response) {
                    // handle response
                    console.log('Successfull');
                }).catch(function (err) {
                    console.log(JSON.parse(err));
                });
            }

            //console.log(JSON.stringify(products));
            //console.log(products[0]);
            //console.log(products[1]);
            function findProduct(productId) {
                return products[findProductKey(productId)];
            };

            function findProductKey(productId) {
                for (var key = 0; key < products.length; key++) {
                    if (products[key]._id == productId) {
                        return key;
                    }
                }
            };

            var ProductList = Vue.extend({
                template: '#product-list',
                data: function () {
                    return {
                        products: products,
                        searchKey: ''
                    };
                },
                computed: {
                    filteredProducts() {
                        return this.products.filter((product) => {
                            return product.name.indexOf(this.searchKey) > -1
                        })
                    }
                }
            });

            var ProductView = Vue.extend({
                template: '#product-view',
                data: function () {
                    return {
                        product: findProduct(this.$route.params.product_id)
                    };
                }
            });

            var ProductAdd = Vue.extend({
                template: '#product-add',
                data: function () {
                    return {
                        product: {
                            name: '',
                            description: '',
                            price: '',
                            _rev: '0'
                        }
                    }
                },
                methods: {
                    createProduct: function () {
                        var product_id = new Date().toISOString();
                        let product = this.product;

                        var myproducts = {
                            _id: product_id,
                            name: product.name,
                            description: product.description,
                            price: product.price
                        };
                        saveProducts(myproducts);
                        products.push(myproducts);
                        /*products.push({
                            _id: product_id,
                            name: product.name,
                            description: product.description,
                            price: product.price,
                            _rev: product._rev
                        });*/
/*
                        db.put(myproducts).then(function (response) {
                            // handle response
                            console.log('Successfull');
                        }).catch(function (err) {
                            console.log(JSON.parse(err));
                        });
                        */
                        router.push('/');
                    }
                }
            });

            var ProductEdit = Vue.extend({
                template: '#product-edit',
                data: function () {
                    console.log('here');
                    return {
                        product: findProduct(this.$route.params.product_id)
                    };
                },
                methods: {
                    updateProduct: function () {
                        let product = this.product;
                        products[findProductKey(product._id)] = {
                            _id: product._id,
                            name: product.name,
                            description: product.description,
                            price: product.price

                        };
                        console.log('..');
                        console.log(product._rev);
                        //saveProducts();
                        //saveProducts(products);

                        //console.log(this.product._rev);
                        db.get(product._id, function (err, doc) {
                            var myproducts = {
                                _id: product._id,
                                _rev: doc._rev,
                                name: product.name,
                                description: product.description,
                                price: product.price
                            };
                            db.put(myproducts).then(function (response) {
                                // handle response
                                console.log('Successfull');
                            }).catch(function (err) {
                                console.log(JSON.parse(err));
                            });

                            console.log('xz');
                        });

                        router.push('/view/' + product._id);
                    }
                }
            });

            var ProductDelete = Vue.extend({
                template: '#product-delete',
                data: function () {
                    return {
                        product: findProduct(this.$route.params.product_id)
                    };
                },
                methods: {
                    deleteProduct: function () {
                        let product = this.product;
                        products[findProductKey(product._id)] = {
                            name: product.name,
                            _rev:product._rev
                        }
                        console.log(product.name);
                         console.log(product._rev);
                        products.splice(findProductKey(this.$route.params.product_id), 1);
                        //console.log(product_id);
                        //saveProducts();
                        db.remove(product);
                        router.push('/');
                    }
                }
            });

            var router = new VueRouter({
                routes: [{
                    path: '/',
                    component: ProductList,
                    name: 'product-list'
                }, {
                    path: '/add',
                    component: ProductAdd,
                    name: 'product-add'
                }, {
                    path: '/view/:product_id',
                    component: ProductView,
                    name: 'product-view'
                }, {
                    path: '/edit/:product_id',
                    component: ProductEdit,
                    name: 'product-edit'
                }, {
                    path: '/delete/:product_id',
                    component: ProductDelete,
                    name: 'product-delete'
                }]
            });
            var App = {}
            new Vue({
                router
            }).$mount('#app')
        });
    }
    //var db = new PouchDB('pouchnotes');
    //db.destroy();
    //db.replicate.to('https://eldus.cloudant.com/test/');
    //db.replicate.from('https://eldus.cloudant.com/test/');
    //console.log('pouch to cloudant');

</script>

</html>